---
import * as assets from "../../content/assets.md"
import * as content from "../../content/links.md"

const {footerLink} = content.frontmatter

const {headerLogo} = assets.frontmatter



---
<footer class="bg-slate-dark flex flex-col items-center justify-center gap-5 text-white ">
    <section class="pt-0">
        <div class="container flex justify-between items-center mb-5">
            <div class="absolute -top-5 px-5 h-px w-full bg-white bg-opacity-70" />
           
            <div class="flex gap-5 items-center">
                <a href="/"><img src={headerLogo} class=`w-12`></a>
                {
                    footerLink.map((link, i) => (
                        <a href={link.url} target="_blank" class="opacity-70 hover:opacity-100">
                            {link.displayText}
                        </a>
                    ))
                }
            </div>

            <div>
                <p class="opacity-70">Alex Christodoulou © 2023</p>
            </div>

        </div>
    </section>
</footer>