---
import BurgerMenu from "./BurgerMenu.jsx"

const navLinks = (await Astro.glob("../../pages/content/*"))
const slider = "after:block after:w-0 after:h-px after:bg-black after:duration-300 hover:after:w-full"

import * as assets from "../../pages/content/assets.md"
---

<nav class="fixed z-20 top-0 left-0 h-20 w-full  px-5 flex justify-center">

    <div class="w-full max-w-7xl flex justify-between items-center m-auto">
        <a href="/"><img src={assets.frontmatter.headerLogo} class="h-auto w-16" /></a>

        <div id="reg-menu" class="flex gap-5">
            {navLinks.map(navLink => (
                <a class={`lowercase ${slider}`} href={navLink.url}>{navLink.frontmatter.title}</a>
            ))}
            <a href="/contact" class={slider}>contact</a>
        </div>
            
        <BurgerMenu 
            client:visible 
            navLinks={navLinks}
        />
    </div>

   
    
</nav>

    
   