---
import Main from "../layouts/Main.astro";
import * as content from "./content/index.md"
import Banner from "../components/home/Banner"
import ServicesWidget from "../components/home/ServicesWidget.jsx"
import ComparisonTable from "../components/home/ComparisonTable"
import Prompt from "../components/home/Prompt.astro"



const {title, banner, services, comparisonChart, ContactPrompt } = content.frontmatter

---

<Main title="Home">
    <Banner client:load
        heading={banner.heading}
        info={banner.info}
        image={banner.image}
    />

    <ServicesWidget client:visible
        heading={services.heading}
        items={services.service}
    />

    <ComparisonTable client:visible
        heading={comparisonChart.heading}
        options={comparisonChart.workType}
    />

    <Prompt />

</Main>