---
import Main from "../layouts/Main.astro";
import * as content from "./index.md"
import Banner from "../components/home/Banner.jsx"
import ServicesWidget from "../components/home/ServicesWidget.jsx"
import ComparisonTable from "../components/home/ComparisonTable.jsx"
import Prompt from "../components/general/Prompt.astro"

const {title, banner, services, comparisonChart} = content.frontmatter
---

<Main title={title} >
    <Banner client:load
        content={banner}
    />

    <ServicesWidget client:visible
        content={services}
    />

    <ComparisonTable client:visible
        heading={comparisonChart.headline}
        workType={comparisonChart.workType}
        content={comparisonChart}
    />

    <Prompt />

</Main>